.cover__link {
  grid-column: 1/2;
  grid-row: 1/2;
  text-decoration: none;
  display: grid;
  gap: 32px;
  background-image: url(../../../images/background_bottom.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  aspect-ratio: 1184/740;
  z-index: 1;
}

.cover__link::after {
  grid-column: 1/2;
  grid-row: 1/3;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: 2;
}