.cover__subtitle {
  margin: 0;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 4;
  justify-self: center;
  align-self: flex-start;
  color: #FFFFFF
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}