.cover__subtitle {
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  grid-column: 1/2;
  grid-row: 2/3;
  z-index: 3;
  justify-self: center;
  align-self: flex-start;
}