.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 18px;
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding-top: 32px;
  }

  .footer__links .footer__link:first-child {
    padding-top: 0;
  }
}