.lead__img-box {
  padding-top: 64px;
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .lead__img-box {
    padding-top: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__img-box {
    padding-top: 40px;
  }
}