.place__paragraph {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  grid-column: 2/3;
  grid-row: 2/3;
  row-gap: 26px;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    row-gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    padding: 0 16px;
    grid-column: 1/2;
    grid-row:auto;
    row-gap: 25px;
  }
}