.cover {
  position: relative;
  padding-top: 92px;
  max-width: 1184px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    padding-top: 66px;
  }
}