.cover__background {
  max-width: 100%;
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/3;
}

@media screen and (max-width: 768px) {
  .cover__background {
    padding-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    padding-top: 66px;
    gap: 16px;
  }
}