.cover__background {
  background-image: url("/images/background_bottom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 1184/740;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, 1fr) minmax(min-content, 1fr);
  flex-direction: column;
  justify-content: center;
  gap: 5%
}