.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 3;
  align-self: end;
  justify-self: center;

}

.cover__title:hover~.cover__overlay {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}