.cover__title {
  margin: 0;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  grid-column: 1/2;
  grid-row: 1/2;
  z-index: 4;
  align-self: end;
  justify-self: center;

}



@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}