.place {
  padding-top: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(min-content, 460px)  minmax(min-content, 1fr);
  grid-template-rows: repeat(3, min-content);
  column-gap: 40px;
  row-gap: 48px;
}

.places .place:first-child {
  padding-top: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(min-content, 440px)  minmax(min-content, 1fr);
    column-gap: 32px;
  }
 }

 @media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: minmax(min-content, 340px)  minmax(min-content, 1fr);
    column-gap: 28px;
    padding-top: 73px;
  }
 }