.place__website {
  font-style: normal;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-self: end;
}

@media screen and (max-width: 450px) {
  .place__website {
    padding: 0px 16px 0;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}